button{
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.linkedin{
  background-color:dodgerblue;
  font-size: 15px;
  font-weight: 700;
  color: white;
}
.linkedin:hover,
.email:hover{
  filter: brightness(1.3);
}

.email{
  background-color: white;
  color: #060410;
  font-size: 15px;
  font-weight: 700;
}


.link{
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
