*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: rgb(65, 63, 63);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  background-color: rgb(2, 2, 13);
  color: white;
  width: 300px;
  border: 2px solid white;
  border-radius: 10px;
}

.Informacao-pessoal{
  width: 100%;
  text-align: center;
}
.Informacao-pessoal .perfil{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;
}

.Informacao-pessoal .recipiente{
  width: 100%;
}
.recipiente .nome{
  font-weight: 700;
  font-size: 29px;
  padding-bottom: 5px;
}
.recipiente .especialidade{
  color: burlywood;
  font-size: 16px;  
  padding-bottom: 10px;
}
.recipiente .site{
  text-align: center;
  font-size: 14px;
  color:rgb(248, 232, 213);
  margin-bottom: 20px;
  cursor: pointer;
}


.recipiente-principal{
  padding-inline: 35px;
}

.butoes{
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

